body {
    font-family: 'Cormorant SC', serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    background-color: yellowgreen;
}